@import "./variables.scss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $font;
    color: $white;
    background: $darkblue;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $darkblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $white;
}