@import "./variables.scss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $font;
    color: $white;
    background: $darkblue;
    background-image: url("../assets/images/background.svg");
    // background-position: center center;
    // background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $darkblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $white;
}

// Toaster
.Toaster__alert {
    background-color: $orange !important;
    border-radius: 0 !important;

    .Toaster__alert_text {
        color: $white !important;
        font-family: $font !important;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: left;
    }

    .Toaster__alert_close {
        opacity: 0.75;

        span {
            color: $white !important;
            font-weight: 500;
        }
    }
}