$font: Montserrat,
sans-serif;
$heading-font: "Source Serif Pro";
$darkblue: #1c242f;
$orange: #ff4338;
$lightgrey: #eaeaea;
$white: #ffffff;


@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $font;
    transition: 0.2s ease-in-out;

    :focus {
        outline: none;
    }

    :active {
        outline: none;
    }
}

@mixin reset-input {
    font-family: $font;
    border: none;
    outline: none;
    resize: none;
    transition: 0.2s ease-in-out;

    // Remove Autofill Colours
    &:-webkit-autofill {

        &,
        &:hover,
        &:focus {
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    :focus {
        outline: none;
    }

    :active {
        outline: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}